@page
@model VendingSystemWeb.Pages.En.IndexEnModel

<nav style="background-color:lightblue; padding:10px">
    <a href="/Index" style="color:black; margin:10px; text-decoration:none">EN</a>
    <a href="/IndexEn" style="color:black; margin:10px; text-decoration:none">Vending machines</a>
    <a href="/Calendar" style="color:black; margin:10px; text-decoration:none">Calendar</a>
    <a href="/Schedule" style="color:black; margin:10px; text-decoration:none">Work schedule</a>
</nav>

<h1 style="text-align:center; margin:20px">Vending machines</h1>

@if (Model.Machines?.Count > 0)
{
    <table border="1" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Model</th>
            <th>Address</th>
        </tr>
        @foreach (var m in Model.Machines)
        {
            <tr>
                <td>@m.id</td>
                <td>@m.name</td>
                <td>@m.model</td>
                <td>@m.address</td>
            </tr>
        }
    </table>
}
else
{
    <p>No data</p>
}
