@page
@model VendingSystemWeb.Pages.ScheduleModel

<nav style="background-color:lightblue; padding:10px">
    <a href="/ScheduleEn" style="color:black; margin:10px; text-decoration:none">RU</a>
    <a href="/Index" style="color:black; margin:10px; text-decoration:none">Торговые автоматы</a>
    <a href="/Calendar" style="color:black; margin:10px; text-decoration:none">Календарь</a>
    <a href="/Schedule" style="color:black; margin:10px; text-decoration:none">График работ</a>
</nav>

<h1 style="text-align:center; margin:20px">График работ</h1>

<table border="1" style="width:100%">
    <tr>
        <th>Сотрудник</th>
        <th>ТА</th>
        <th>Адрес</th>
        <th>Дата</th>
        <th>Статус</th>
    </tr>
    <tr>
        <td>Иван Петров</td>
        <td>Автомат 1</td>
        <td>Починки</td>
        <td>2025-05-25</td>
        <td>Новая</td>
    </tr>
    <tr>
        <td>Петр Иванов</td>
        <td>Автомат 2</td>
        <td>Арзамас</td>
        <td>2025-05-26</td>
        <td>В работе</td>
    </tr>
</table>