USE [master]
GO
/****** Object:  Database [VendingSystemDB]    Script Date: 01.12.2025 17:32:51 ******/
CREATE DATABASE [VendingSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingSystemDB]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineStatuses]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MachineStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineTypes]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MachineTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CountInStoke] [int] NOT NULL,
	[MinStoke] [int] NOT NULL,
	[AvgDailySales] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[TotalSum] [decimal](10, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[ServiceDate] [date] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Problems] [nvarchar](500) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Patronymic] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [int] NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 01.12.2025 17:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Model] [nvarchar](255) NOT NULL,
	[MachineTypeId] [int] NOT NULL,
	[TotalProfit] [decimal](10, 2) NOT NULL,
	[SerialNumber] [nvarchar](255) NOT NULL,
	[InventoryNumber] [nvarchar](255) NOT NULL,
	[Manufacturer] [nvarchar](255) NOT NULL,
	[ManufactureDate] [date] NOT NULL,
	[StartDate] [date] NOT NULL,
	[LastCheckDate] [date] NOT NULL,
	[InterCheckMonth] [int] NOT NULL,
	[ResourceHour] [int] NOT NULL,
	[NextCheckDate] [date] NOT NULL,
	[ServiceTime] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[InventoryDate] [date] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_VendingMachines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Title]) VALUES (1, N'ООО Компания-1')
INSERT [dbo].[Companies] ([Id], [Title]) VALUES (2, N'ООО Компания-2')
INSERT [dbo].[Companies] ([Id], [Title]) VALUES (3, N'ООО Компания-3')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Title]) VALUES (1, N'Россия')
INSERT [dbo].[Countries] ([Id], [Title]) VALUES (2, N'Китай')
INSERT [dbo].[Countries] ([Id], [Title]) VALUES (3, N'Германия')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineStatuses] ON 

INSERT [dbo].[MachineStatuses] ([Id], [Title]) VALUES (1, N'Работает')
INSERT [dbo].[MachineStatuses] ([Id], [Title]) VALUES (2, N'Вышел из строя')
INSERT [dbo].[MachineStatuses] ([Id], [Title]) VALUES (3, N'В ремонте/на обслуживании')
SET IDENTITY_INSERT [dbo].[MachineStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineTypes] ON 

INSERT [dbo].[MachineTypes] ([Id], [Title]) VALUES (1, N'Снеки')
INSERT [dbo].[MachineTypes] ([Id], [Title]) VALUES (2, N'Напитки')
INSERT [dbo].[MachineTypes] ([Id], [Title]) VALUES (3, N'Смешанный')
SET IDENTITY_INSERT [dbo].[MachineTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([Id], [Title]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentTypes] ([Id], [Title]) VALUES (2, N'Карта')
INSERT [dbo].[PaymentTypes] ([Id], [Title]) VALUES (3, N'QR')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [CountInStoke], [MinStoke], [AvgDailySales]) VALUES (1, N'Лимонад', N'Напиток', CAST(100.00 AS Decimal(10, 2)), 100, 10, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [CountInStoke], [MinStoke], [AvgDailySales]) VALUES (2, N'Чипсы', N'Закуска', CAST(200.00 AS Decimal(10, 2)), 200, 20, CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [CountInStoke], [MinStoke], [AvgDailySales]) VALUES (3, N'Шоколад', N'Сладость', CAST(300.00 AS Decimal(10, 2)), 300, 30, CAST(30.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Title]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (2, N'Инженер')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (3, N'Бухгалтер')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [VendingMachineId], [ProductId], [Count], [TotalSum], [SaleDate], [PaymentTypeId]) VALUES (1, 1, 1, 10, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Sales] ([Id], [VendingMachineId], [ProductId], [Count], [TotalSum], [SaleDate], [PaymentTypeId]) VALUES (2, 2, 2, 10, CAST(2000.00 AS Decimal(10, 2)), CAST(N'2025-11-10T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Sales] ([Id], [VendingMachineId], [ProductId], [Count], [TotalSum], [SaleDate], [PaymentTypeId]) VALUES (3, 3, 3, 10, CAST(3000.00 AS Decimal(10, 2)), CAST(N'2025-11-10T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [VendingMachineId], [ServiceDate], [Description], [Problems], [UserId]) VALUES (1, 1, CAST(N'2025-11-01' AS Date), N'Техническая проверка', N'Не обнаружено', 2)
INSERT [dbo].[Services] ([Id], [VendingMachineId], [ServiceDate], [Description], [Problems], [UserId]) VALUES (2, 2, CAST(N'2025-11-01' AS Date), N'Техническая проверка', N'Не обнаружен', 2)
INSERT [dbo].[Services] ([Id], [VendingMachineId], [ServiceDate], [Description], [Problems], [UserId]) VALUES (3, 3, CAST(N'2025-11-01' AS Date), N'Техническая проверка', N'Не обнаружен', 2)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [Email], [Phone], [Role], [Login], [PasswordHash]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'ivanov@gmail.com', N'+71234567890', 1, N'ivan', N'ivan')
INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [Email], [Phone], [Role], [Login], [PasswordHash]) VALUES (2, N'Петров', N'Петр', N'Петрович', N'petrov@gmail.com', N'+71234567891', 2, N'petr', N'petr')
INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [Email], [Phone], [Role], [Login], [PasswordHash]) VALUES (3, N'Вадимов', N'Вадим', N'Вадимович', N'vadim@gmail.com', N'+712344567892', 3, N'vadim', N'vadim')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VendingMachines] ON 

SET IDENTITY_INSERT [dbo].[VendingMachines] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_InventoryNumber]    Script Date: 01.12.2025 17:32:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_InventoryNumber] ON [dbo].[VendingMachines]
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SerialNumber]    Script Date: 01.12.2025 17:32:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SerialNumber] ON [dbo].[VendingMachines]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VendingMachines] ADD  CONSTRAINT [DF_VendingMachines_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentTypes] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentTypes]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_VendingMachines] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_VendingMachines]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Users]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_VendingMachines] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_VendingMachines]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Companies]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Countries]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_MachineStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[MachineStatuses] ([Id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_MachineStatuses]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_MachineTypes] FOREIGN KEY([MachineTypeId])
REFERENCES [dbo].[MachineTypes] ([Id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_MachineTypes]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_InventoryDate] CHECK  (([InventoryDate]>=[ManufactureDate] AND [InventoryDate]<=getdate()))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_InventoryDate]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_LastCheckDate] CHECK  (([LastCheckDate]>=[ManufactureDate] AND [LastCheckDate]<=getdate()))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_LastCheckDate]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_NextCheckDate] CHECK  (([NextCheckDate]>=[CreateDate]))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_NextCheckDate]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_ResourceHour] CHECK  (([ResourceHour]>(0)))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_ResourceHour]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_ServiceTime] CHECK  (([ServiceTime]>=(1) AND [ServiceTime]<=(20)))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_ServiceTime]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [CK_StartDate] CHECK  (([StartDate]>=[ManufactureDate] AND [StartDate]<=[CreateDate]))
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [CK_StartDate]
GO
USE [master]
GO
