USE [master]
GO
/****** Object:  Database [VendingDb2]    Script Date: 18.02.2026 19:04:42 ******/
CREATE DATABASE [VendingDb2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingDb2', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingDb2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingDb2_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingDb2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingDb2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingDb2]
GO
/****** Object:  Table [dbo].[News]    Script Date: 18.02.2026 19:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 18.02.2026 19:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[StatusMachine] [nvarchar](100) NULL,
	[StatusService] [nvarchar](100) NULL,
	[ModelMachine] [nvarchar](100) NULL,
	[DeadlineDays] [int] NULL,
	[StartDate] [date] NULL,
	[NameUser] [nvarchar](100) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.02.2026 19:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 18.02.2026 19:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[VendingMachineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[Company] [nvarchar](100) NULL,
	[Modem] [nvarchar](100) NULL,
	[Location] [nvarchar](100) NULL,
	[InstallDate] [datetime] NULL,
	[IntervalService] [int] NULL,
	[NextServiceDate] [date] NULL,
	[StatusMachine] [nvarchar](100) NULL,
	[StatusService] [nvarchar](100) NULL,
	[NameUser] [nvarchar](100) NULL,
	[Priority] [nvarchar](100) NULL,
 CONSTRAINT [PK_VendingMachines] PRIMARY KEY CLUSTERED 
(
	[VendingMachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON 
GO
INSERT [dbo].[News] ([NewId], [Date], [Note]) VALUES (1, CAST(N'2025-01-29' AS Date), N'Терминалы KitPos получили эквайринг от Сбера')
GO
INSERT [dbo].[News] ([NewId], [Date], [Note]) VALUES (2, CAST(N'2024-12-31' AS Date), N'Новогоднее поздравление от KiT Vending')
GO
INSERT [dbo].[News] ([NewId], [Date], [Note]) VALUES (4, CAST(N'2024-12-28' AS Date), N'Ставки НДС 5%')
GO
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([UserId], [Name], [Login], [Password], [Role]) VALUES (1, N'Иванов И. И.', N'ivan', N'ivan', N'Администратор')
GO
INSERT [dbo].[Users] ([UserId], [Name], [Login], [Password], [Role]) VALUES (2, N'Вадимов В. В.', N'vadim', N'vadim', N'Франчайзи')
GO
INSERT [dbo].[Users] ([UserId], [Name], [Login], [Password], [Role]) VALUES (3, N'Петров П. П.', N'petr', N'petr', N'Персонал')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VendingMachines] ON 
GO
INSERT [dbo].[VendingMachines] ([VendingMachineId], [Name], [Model], [Company], [Modem], [Location], [InstallDate], [IntervalService], [NextServiceDate], [StatusMachine], [StatusService], [NameUser], [Priority]) VALUES (1, N'Офис Газпром', N'Rheavendors Luce E5', N'ООО Торговые Аппараты
', N'Билайн', N'с. Бийск, ш. Астраханское, д. 22 к. 5, 022400', CAST(N'2023-06-02T10:10:00.000' AS DateTime), 1, CAST(N'2023-07-02' AS Date), N'Требуется ТО', N'Аварийная', NULL, N'Высокий')
GO
INSERT [dbo].[VendingMachines] ([VendingMachineId], [Name], [Model], [Company], [Modem], [Location], [InstallDate], [IntervalService], [NextServiceDate], [StatusMachine], [StatusService], [NameUser], [Priority]) VALUES (2, N'БЦ Арма', N'Unicum Rosso', N'ООО Про Вендинг Групп
', N'МТС', N'п. Токсово, пр. Мостовой, д. 7 стр. 668, 578638', CAST(N'2023-05-31T14:08:00.000' AS DateTime), 2, CAST(N'2023-07-31' AS Date), N'Требуется ТО', N'Аварийная', NULL, N'Высокий')
GO
INSERT [dbo].[VendingMachines] ([VendingMachineId], [Name], [Model], [Company], [Modem], [Location], [InstallDate], [IntervalService], [NextServiceDate], [StatusMachine], [StatusService], [NameUser], [Priority]) VALUES (3, N'Вокзал', N'Bianchi BVM 972', N'ООО ВендингСервис Плюс
', N'Т2', N'г. Карабулак, наб. Трудовая, д. 4 к. 15, 495584', CAST(N'2024-09-11T00:38:00.000' AS DateTime), 3, CAST(N'2024-12-11' AS Date), N'Отклонен', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[VendingMachines] OFF
GO
USE [master]
GO
